.btn {
  padding: 10px 16px;
  background: rgb(1, 68, 124);
  border: 0;
  border-radius: 10px;
  color: rgb(255, 255, 255)
}
.btn:hover {
  background:  rgb(0, 96, 175);
}
.btn:active {
  background:  rgb(28, 0, 105);
}